<div class="form-horizontal">
    <h3>Create a new Carrinho</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Carrinhos/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Carrinhos</h3>
    <form id="CarrinhoSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="Idcarrinho" class="col-sm-2 control-label">Idcarrinho</label>
        <div class="col-sm-10">
            <input id="Idcarrinho" name="Idcarrinho" class="form-control" type="text" ng-model="search.Idcarrinho" placeholder="Enter the Carrinho Idcarrinho"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="Idpessoa" class="col-sm-2 control-label">Idpessoa</label>
        <div class="col-sm-10">
            <input id="Idpessoa" name="Idpessoa" class="form-control" type="text" ng-model="search.Idpessoa" placeholder="Enter the Carrinho Idpessoa"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="Idproduto" class="col-sm-2 control-label">Idproduto</label>
        <div class="col-sm-10">
            <input id="Idproduto" name="Idproduto" class="form-control" type="text" ng-model="search.Idproduto" placeholder="Enter the Carrinho Idproduto"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="Preco" class="col-sm-2 control-label">Preco</label>
        <div class="col-sm-10">
            <input id="Preco" name="Preco" class="form-control" type="text" ng-model="search.Preco" placeholder="Enter the Carrinho Preco"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="Quantidade" class="col-sm-2 control-label">Quantidade</label>
        <div class="col-sm-10">
            <input id="Quantidade" name="Quantidade" class="form-control" type="text" ng-model="search.Quantidade" placeholder="Enter the Carrinho Quantidade"></input>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Idcarrinho</th>
                    <th>Idpessoa</th>
                    <th>Idproduto</th>
                    <th>Preco</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in filteredResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Carrinhos/edit/{{result.id}}">{{result.Idcarrinho}}</a></td>
                    <td><a href="#/Carrinhos/edit/{{result.id}}">{{result.Idpessoa}}</a></td>
                    <td><a href="#/Carrinhos/edit/{{result.id}}">{{result.Idproduto}}</a></td>
                    <td><a href="#/Carrinhos/edit/{{result.id}}">{{result.Preco}}</a></td>
                    <td><a href="#/Carrinhos/edit/{{result.id}}">{{result.Quantidade}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>