<header ng-switch on="$location.path().indexOf('/Categoria/new') > -1">
    <h3 ng-switch-when="true">Create a new Categoria</h3>
    <h3 ng-switch-when="false">View or edit Categoria</h3>
</header>
<form id="CategoriaForm" name="CategoriaForm" class="form-horizontal" role="form">
    

    <div class="form-group" ng-class="{'has-error': CategoriaForm.IdCategoria.$invalid}">
        <label for="IdCategoria" class="col-sm-2 control-label">Id Categoria</label>
        <div id="IdCategoriaControls" class="col-sm-10">
            <input id="IdCategoria" name="IdCategoria" type="number" required class="form-control" ng-model="categoria.IdCategoria" placeholder="Enter the Categoria Id Categoria"></input>
            <span class="help-block error" ng-show="CategoriaForm.IdCategoria.$error.required">required</span> 
            <span class="help-block error" ng-show="CategoriaForm.IdCategoria.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': CategoriaForm.Descricao.$invalid}">
        <label for="Descricao" class="col-sm-2 control-label">Descricao</label>
        <div id="DescricaoControls" class="col-sm-10">
            <input id="Descricao" name="Descricao" type="text" class="form-control" ng-model="categoria.Descricao" placeholder="Enter the Categoria Descricao"></input>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="saveCategoria" name="saveCategoria" class="btn btn-primary" ng-disabled="isClean() || CategoriaForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deleteCategoria" name="deleteCategoria" class="btn btn-danger" ng-show="categoria.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>